$padding-horizontal: 5px;
$padding-vertical: 5px;

.ExpenseListElement {
    background-color: #d4e7fa;
    border-radius: 5px;
    display: flex;
    min-height: 50px;
    margin: 5px;
}

.ExpenseListElement-primaryInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    min-height: inherit;
    padding: 5px;
    width: 100px;
    border-right: 1px solid #888888;
    flex: 0 0 auto;
}

// todo remove duplication between the 2 classes
.ExpenseListElement-secondaryInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: inherit;
    justify-content: space-between;
    padding: 5px;
}

.ExpenseListElement-date {}

.ExpenseListElement-costs {
    font-weight: bold;
}

.ExpenseListElement-name {}

.ExpenseListElement-paymentSource {}