{% extends "base.html.twig" %}

{% block title %}
    Expense-Sheet
{% endblock %}
{% block body %}
    <h1>Expense Sheet</h1>
    <p>Some text</p>
    <p>TODO: Put the react SPA in here.</p>
{% endblock %}